asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.4
crispy-bootstrap4==2025.6
Django==4.2.23
django-bootstrap4==24.4
django-crispy-forms==2.4
Faker==35.2.2
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
