<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}JobConvo by Enock{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="{% url 'jobs:job_list' %}">Jobs</a>
      <a href="{% url 'jobs:reports' %}">Reports</a>
      {% if user.is_authenticated %}
      <span>{{ user.email }}</span>
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>{% block content %}{% endblock %}</main>
</body>

</html>