{% extends 'base.html' %}
{% block title %}Jobs{% endblock %}
{% block content %}
<div class="jobs-container">
  <h1 class="jobs-title">Vagas Disponíveis</h1>

  {% if user.company %}
  <div class="create-job-container">
    <a href="{% url 'jobs:job_create' %}" class="btn btn-create-job">Criar nova vaga</a>
  </div>
  {% endif %}


  <div class="jobs-grid">
    {% for job in jobs %}
    <a href="{% url 'jobs:job_detail' job.pk %}" class="job-card">
      <h2>{{ job.title }}</h2>
      <p><strong>Faixa Salarial:</strong> {{ job.get_salary_band_display }}</p>
      <p><strong>Educação Mínima:</strong> {{ job.get_min_education_display }}</p>
      <p><strong>Candidatos:</strong> {{ job.app_count }}</p>
    </a>
    {% empty %}
    <p class="no-jobs">Nenhuma vaga cadastrada ainda 🚀</p>
    {% endfor %}
  </div>
</div>
{% endblock %}